<div class="container-fluid">

  <header>
    <div class="titleBook"> Твоя кулінарна книга</div>
  </header>

  <main>
    <button class="addOne" (click)="openModal(newRecipe,$event)">Додай страву</button>
    <!-- <ul class="treeRecipes" *ngFor="let item of recipes">
      <li class="recipe" *ngIf="(item.parentId==null)" (click)="showChildren(item)">
        <div>{{item}}</div>
        <div class="title">
          <span>{{item.name}}</span>
        </div>
        <div class="date">
          <span>{{item.createdDate}}</span>
        </div>
        <div class="description">
          <span><b>Рецепт:</b> {{item.description}}</span>
        </div>
        <div class="controlButtons">
          <button class="addInside" (click)="openModal(newRecipe,item )">Додати</button>
          <button class="remove" (click)="openModal(newRecipe,item )">Змінити</button>
        </div>
        <div *ngIf="showChildrenBlock">
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
          </ul>
        </div>

      </li>
    </ul> -->





    <ul>
      <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: list }"></ng-container>
    </ul>
    <ng-template #recursiveListTmpl let-list="list">
      <ul *ngFor="let item of list">
    
        <li class="recipe" (mouseenter)="showButtons($event.target);$event.stopPropagation()"
          (click)="showChildren(item); $event.stopPropagation();">
          <div class="dataRecipe">
            <div class="title">
              <span>{{item.name}}</span>
            </div>
            <div class="date">
              <span>{{item.createdDate | date}}</span>
            </div>
            <div class="description">
              <span><b>Рецепт:</b> {{item.description}}</span>
            </div>
          </div>
          <div class="controlButtons">
            <button class="addInside" (click)="openModal(newRecipe,item )">Додати</button>
            <button class="remove" (click)="onEdit(newRecipe,item)">Змінити</button>
          </div>
          <ul *ngIf="item.children?.length > 0">
            <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ list: item.children }"></ng-container>
          </ul>
        </li>
      </ul>
    </ng-template>



    <ng-template #newRecipe>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Додай страву</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modalBody">

        <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

          <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
          <input type="hidden" name="parentId" #parentId="ngModel" [(ngModel)]="service.formData.parentId">
          <input type="hidden" name="createdDate" #date="ngModel" [(ngModel)]="service.formData.createdDate">


          <div class="field">
            <div class="titleField">Назва страви:</div>
            <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" required>
          </div>

          <div class="field">
            <div class="titleField">Рецепт:</div>
            <textarea type="text" name="description" #description="ngModel" [(ngModel)]="service.formData.description"
              class="form-control">
                </textarea>
          </div>

          <div class="field">
            <button type="submit" (click)="modalRef.hide()" [disabled]="form.invalid" class="btnAdd">Додати</button>
          </div>

        </form>
      </div>


    </ng-template>
  </main>

</div>
